
<ul class="nav navbar-nav">                
    <li><a href="{{ path('paciente') }}">Pacientes</a></li>
    <li><a href="{{ path('medico') }}">Medicos</a></li>
    <li><a href="{{ path('cita_programacion') }}">Citas</a></li>
</ul>